*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
clipsAndroid/.externalNativeBuild/ndkBuild/debug/armeabi-v7a/android_gradle_build.json
